In [28]:
import pandas

In [29]:
import pandas as pd

In [30]:
import geopandas as gpd
import matplotlib.pyplot as plt
import contextily as ctx
from geopandas_view import view

In [31]:
attendance = pandas.read_csv('https://www3.cde.ca.gov/demo-downloads/attendance/chrabs1819.txt', sep= '\t',encoding='latin1')

In [32]:
attendance.head()

,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
0,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,GF,114224,112861,16501,14.6
1,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,No,GF,102681,101285,15082,14.9
2,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,Yes,GF,12096,11850,1530,12.9
3,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,All,GM,121852,120048,18167,15.1
4,2018-19,C,1,NaN,NaN,Alameda,NaN,NaN,No,GM,110192,108370,16793,15.5

In [33]:
attendance.to_csv('attendance_rates.csv')

In [34]:
attendance_rates = pandas.read_csv('attendance_rates.csv')

In [35]:
sd_attendance = attendance_rates[attendance_rates.CountyName == 'San Diego']

In [36]:
sd_attendance.head()

,Unnamed: 0,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
2419,2419,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,All,GF,255880,252379,26985,10.7
2420,2420,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,No,GF,215259,212116,22634,10.7
2421,2421,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,Yes,GF,45020,42801,5163,12.1
2422,2422,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,All,GM,270912,266732,29941,11.2
2423,2423,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,No,GM,230242,226343,25318,11.2

In [37]:
sb_attendance = attendance_rates[attendance_rates.CountyName == 'San Bernardino']

In [38]:
sb_attendance.head()

,Unnamed: 0,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
2348,2348,2018-19,C,36,NaN,NaN,San Bernardino,NaN,NaN,All,GF,208155,204226,26199,12.8
2349,2349,2018-19,C,36,NaN,NaN,San Bernardino,NaN,NaN,No,GF,192152,188589,24282,12.9
2350,2350,2018-19,C,36,NaN,NaN,San Bernardino,NaN,NaN,Yes,GF,19467,17278,2497,14.5
2351,2351,2018-19,C,36,NaN,NaN,San Bernardino,NaN,NaN,All,GM,219614,214646,29362,13.7
2352,2352,2018-19,C,36,NaN,NaN,San Bernardino,NaN,NaN,No,GM,204574,199974,27425,13.7

In [39]:
oc_attendance = attendance_rates[attendance_rates.CountyName == 'Orange']

In [40]:
oc_attendance.head()

,Unnamed: 0,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
1928,1928,2018-19,C,30,NaN,NaN,Orange,NaN,NaN,All,GF,239684,237376,20567,8.7
1929,1929,2018-19,C,30,NaN,NaN,Orange,NaN,NaN,No,GF,228930,226708,18838,8.3
1930,1930,2018-19,C,30,NaN,NaN,Orange,NaN,NaN,Yes,GF,11552,11114,1865,16.8
1931,1931,2018-19,C,30,NaN,NaN,Orange,NaN,NaN,All,GM,254347,251401,22352,8.9
1932,1932,2018-19,C,30,NaN,NaN,Orange,NaN,NaN,No,GM,244645,241778,20846,8.6

In [41]:
rivco_attendance = attendance_rates[attendance_rates.CountyName == 'Riverside']

In [42]:
rivco_attendance.head()

,Unnamed: 0,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
2136,2136,2018-19,C,33,NaN,NaN,Riverside,NaN,NaN,All,GF,218423,215116,26565,12.3
2137,2137,2018-19,C,33,NaN,NaN,Riverside,NaN,NaN,No,GF,206189,202820,25672,12.7
2138,2138,2018-19,C,33,NaN,NaN,Riverside,NaN,NaN,Yes,GF,13750,13237,1143,8.6
2139,2139,2018-19,C,33,NaN,NaN,Riverside,NaN,NaN,All,GM,230632,226719,28944,12.8
2140,2140,2018-19,C,33,NaN,NaN,Riverside,NaN,NaN,No,GM,218432,214523,28066,13.1

In [43]:
attendance_counties = pandas.concat([sd_attendance, rivco_attendance, sb_attendance, oc_attendance], axis = 0)

In [44]:
type(attendance_counties)

pandas.core.frame.DataFrame

In [45]:
attendance_counties.shape

(54108, 15)

In [54]:
attendance_counties.head()

,Unnamed: 0,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
2419,2419,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,All,GF,255880,252379,26985,10.7
2420,2420,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,No,GF,215259,212116,22634,10.7
2421,2421,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,Yes,GF,45020,42801,5163,12.1
2422,2422,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,All,GM,270912,266732,29941,11.2
2423,2423,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,No,GM,230242,226343,25318,11.2

In [59]:
df=attendance_counties
df[df.CharterYN=='No ']

,Unnamed: 0,AcademicYear,AggregateLevel,CountyCode,DistrictCode,SchoolCode,CountyName,DistrictName,SchoolName,CharterYN,ReportingCategory,CumulativeEnrollment,ChronicAbsenteeismEligibleCumulativeEnrollment,ChronicAbsenteeismCount,ChronicAbsenteeismRate
2420,2420,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,No,GF,215259,212116,22634,10.7
2423,2423,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,No,GM,230242,226343,25318,11.2
2426,2426,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,No,GR13,100477,99134,8956,9.0
2429,2429,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,No,GR46,99036,97626,8022,8.2
2432,2432,2018-19,C,37,NaN,NaN,San Diego,NaN,NaN,No,GR78,67796,66978,6374,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26853,26853,2018-19,D,30,73924.0,0.0,Orange,Los Alamitos Unified,District Office,No,SE,300,295,10,3.4
26855,26855,2018-19,D,30,73924.0,0.0,Orange,Los Alamitos Unified,District Office,No,SF,21,18,2,11.1
26857,26857,2018-19,D,30,73924.0,0.0,Orange,Los Alamitos Unified,District Office,No,SH,25,22,0,0.0
26859,26859,2018-19,D,30,73924.0,0.0,Orange,Los Alamitos Unified,District Office,No,SS,1776,1750,130,7.4
26861,26861,2018-19,D,30,73924.0,0.0,Orange,Los Alamitos Unified,District Office,No,TA,10070,9852,363,3.7

In [58]:
df.CharterYN.unique()

array(['All', 'No ', 'Yes'], dtype=object)

In [55]:
attendance_counties[attendance_counties.CharterYN=='No']

Empty DataFrame
Columns: [Unnamed: 0, AcademicYear, AggregateLevel, CountyCode, DistrictCode, SchoolCode, CountyName, DistrictName, SchoolName, CharterYN, ReportingCategory, CumulativeEnrollment, ChronicAbsenteeismEligibleCumulativeEnrollment, ChronicAbsenteeismCount, ChronicAbsenteeismRate]
Index: []

In [60]:
df.groupby(by='CountyName').sum()

                Unnamed: 0  CountyCode  DistrictCode    SchoolCode
CountyName
Orange          1708770144      396630  8.709268e+08  5.895981e+10
Riverside       1529355206      366300  7.380239e+08  3.712314e+10
San Bernardino  1902349478      448632  8.435343e+08  4.637715e+10
San Diego       2806792633      641025  1.173591e+09  6.277202e+10

In [61]:
df.dtypes

Unnamed: 0                                          int64
AcademicYear                                       object
AggregateLevel                                     object
CountyCode                                          int64
DistrictCode                                      float64
SchoolCode                                        float64
CountyName                                         object
DistrictName                                       object
SchoolName                                         object
CharterYN                                          object
ReportingCategory                                  object
CumulativeEnrollment                               object
ChronicAbsenteeismEligibleCumulativeEnrollment     object
ChronicAbsenteeismCount                            object
ChronicAbsenteeismRate                             object
dtype: object

In [64]:
car=df.ChronicAbsenteeismRate

In [65]:
(car=="*").sum()

11710

In [68]:
car[car=="*"]="0".astype(float)

AttributeError: 'str' object has no attribute 'astype'

In [62]:
df.CumulativeEnrollment.unique()

array(['255880', '215259', '45020', ..., '1633', '3201', '1266'],
      dtype=object)

In [63]:
df.CumulativeEnrollment.astype(float)

ValueError: could not convert string to float: '*'