In [3]:
import pandas

In [4]:
import pandas as pd

In [5]:
import geopandas as gpd

In [7]:
import matplotlib.pyplot as plt

In [8]:
import contextily as ctx

In [9]:
from geopandas_view import view

In [13]:
import geopandas

In [10]:
import quilt3
b = quilt3.Bucket("s3://spatial-ucr")
# list files
b.ls("census/demographic_profile/2018/")
# download
b.fetch("census/demographic_profile/2018/", "./2018/")

100%|██████████| 3.23G/3.23G [00:24<00:00, 130MB/s]

In [11]:
b.fetch("census/demographic_profile/2018/acs_2018_X01_AGE_AND_SEX_tract.parquet", "./acs_2018_X01_AGE_AND_SEX_tract.parquet")

100%|██████████| 23.2M/23.2M [00:09<00:00, 2.46MB/s]

In [27]:
tracts = pandas.read_parquet('./acs_2018_X01_AGE_AND_SEX_tract.parquet')

In [28]:
tracts.head()

,B01001_001E,B01001_002E,B01001_003E,B01001_004E,B01001_005E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,...,B01002G_001E,B01002G_002E,B01002G_003E,B01002H_001E,B01002H_002E,B01002H_003E,B01002I_001E,B01002I_002E,B01002I_003E,B01003_001E
GEOID,,,,,,,,,,,,,,,,,,,,,
14000US01001020100,1923.0,929.0,22.0,35.0,67.0,83.0,58.0,6.0,0.0,63.0,...,19.9,19.8,38.3,40.9,43.0,40.6,52.5,NaN,NaN,1923.0
14000US01001020200,2028.0,1091.0,60.0,109.0,51.0,46.0,50.0,16.0,5.0,35.0,...,33.5,NaN,NaN,40.4,39.7,40.7,65.6,NaN,NaN,2028.0
14000US01001020300,3476.0,1581.0,53.0,142.0,155.0,43.0,32.0,5.0,33.0,56.0,...,21.2,14.1,37.4,34.8,37.5,34.0,27.8,27.2,28.4,3476.0
14000US01001020400,3831.0,1867.0,149.0,144.0,86.0,40.0,37.0,9.0,13.0,50.0,...,18.1,18.5,9.0,46.5,42.4,51.8,50.2,NaN,NaN,3831.0
14000US01001020500,9883.0,4902.0,350.0,473.0,220.0,309.0,107.0,17.0,34.0,230.0,...,14.5,10.3,40.2,42.4,40.0,45.0,NaN,NaN,NaN,9883.0

In [30]:
b.fetch("census/demographic_profile/2018/acs_2018_ACS_2018_5YR_TRACT_tract.parquet", "./acs_2018_ACS_2018_5YR_TRACT_tract.parquet")

100%|██████████| 578M/578M [00:09<00:00, 60.2MB/s]

In [31]:
tracts = pandas.read_parquet('./acs_2018_ACS_2018_5YR_TRACT_tract.parquet')

In [32]:
tracts.head()

,STATEFP,COUNTYFP,TRACTCE,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,Shape_Length,Shape_Area,GEOID_Data,geometry
GEOID,,,,,,,,,,,,,,,
01087232100,01,087,232100,2321,Census Tract 2321,G5020,S,5357837.0,58722.0,+32.4037650,-085.7172586,0.139543,0.000519,14000US01087232100,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...
01101002201,01,101,002201,22.01,Census Tract 22.01,G5020,S,3121070.0,0.0,+32.3356125,-086.3078025,0.069221,0.000299,14000US01101002201,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...
01101002202,01,101,002202,22.02,Census Tract 22.02,G5020,S,2891661.0,81899.0,+32.3151157,-086.3030980,0.071238,0.000285,14000US01101002202,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...
01101002300,01,101,002300,23,Census Tract 23,G5020,S,3185680.0,100230.0,+32.3340804,-086.3219320,0.083498,0.000315,14000US01101002300,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...
01101002400,01,101,002400,24,Census Tract 24,G5020,S,3709019.0,57096.0,+32.3413010,-086.3351156,0.083888,0.000361,14000US01101002400,b'\x01\x06\x00\x00\x00\x01\x00\x00\x00\x01\x03...

In [33]:
b.fetch("census/demographic_profile/2018/acs_2018_X02_RACE_tract.parquet", "./acs_2018_X02_RACE_tract.parquet")

100%|██████████| 7.28M/7.28M [00:03<00:00, 2.34MB/s]

In [34]:
tracts = pandas.read_parquet('./acs_2018_X02_RACE_tract.parquet')

In [35]:
tracts.head()

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E,...,C02003_010E,C02003_011E,C02003_012E,C02003_013E,C02003_014E,C02003_015E,C02003_016E,C02003_017E,C02003_018E,C02003_019E
GEOID,,,,,,,,,,,,,,,,,,,,,
14000US02090001700,1202.0,1115.0,0.0,39.0,7.0,31.0,0.0,10.0,0.0,10.0,...,0.0,10.0,10.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
14000US02090001800,3162.0,2576.0,166.0,43.0,124.0,0.0,68.0,185.0,6.0,179.0,...,6.0,179.0,182.0,106.0,6.0,40.0,4.0,26.0,3.0,0.0
14000US02090001900,10918.0,9580.0,22.0,323.0,138.0,0.0,212.0,643.0,0.0,643.0,...,0.0,643.0,386.0,62.0,213.0,111.0,0.0,0.0,159.0,98.0
14000US02100000100,2518.0,2040.0,1.0,217.0,74.0,4.0,11.0,171.0,0.0,171.0,...,0.0,171.0,171.0,24.0,102.0,41.0,4.0,0.0,0.0,0.0
14000US02105000200,47.0,6.0,0.0,35.0,0.0,0.0,0.0,6.0,0.0,6.0,...,0.0,6.0,6.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0