In [2]:
import pandas
import pandas as pd 
import geopandas as gpd
import matplotlib.pyplot as plt
import contextily as ctx
from geopandas_view import view
import geopandas

In [3]:
import quilt3
b = quilt3.Bucket("s3://spatial-ucr")
b.fetch("census/demographic_profile/2018/acs_2018_X02_RACE_bg.parquet", "./acs_2018_X02_RACE_bg.parquet")

100%|██████████| 9.15M/9.15M [00:03<00:00, 2.74MB/s]

In [17]:
race_tracts = pandas.read_parquet('./acs_2018_X02_RACE_bg.parquet')

In [18]:
race_tracts.head()

,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,B02001_010E,...,C02003_010E,C02003_011E,C02003_012E,C02003_013E,C02003_014E,C02003_015E,C02003_016E,C02003_017E,C02003_018E,C02003_019E
GEOID,,,,,,,,,,,,,,,,,,,,,
15000US021980001003,506.0,170.0,4.0,247.0,4.0,29.0,0.0,52.0,0.0,52.0,...,0.0,52.0,52.0,0.0,52.0,0.0,0.0,0.0,0.0,0.0
15000US021980002001,927.0,446.0,3.0,366.0,0.0,7.0,0.0,105.0,0.0,105.0,...,0.0,105.0,97.0,0.0,91.0,0.0,0.0,6.0,8.0,0.0
15000US021980002002,1178.0,731.0,11.0,235.0,26.0,0.0,7.0,168.0,10.0,158.0,...,10.0,158.0,152.0,6.0,121.0,10.0,1.0,14.0,16.0,0.0
15000US021980002003,435.0,321.0,0.0,55.0,9.0,0.0,0.0,50.0,2.0,48.0,...,2.0,48.0,46.0,0.0,42.0,0.0,1.0,3.0,4.0,0.0
15000US021980003001,15.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
race_tracts.columns

Index(['B02001_001E', 'B02001_002E', 'B02001_003E', 'B02001_004E',
       'B02001_005E', 'B02001_006E', 'B02001_007E', 'B02001_008E',
       'B02001_009E', 'B02001_010E', 'B02008_001E', 'B02009_001E',
       'B02010_001E', 'B02011_001E', 'B02012_001E', 'B02013_001E',
       'C02003_001E', 'C02003_002E', 'C02003_003E', 'C02003_004E',
       'C02003_005E', 'C02003_006E', 'C02003_007E', 'C02003_008E',
       'C02003_009E', 'C02003_010E', 'C02003_011E', 'C02003_012E',
       'C02003_013E', 'C02003_014E', 'C02003_015E', 'C02003_016E',
       'C02003_017E', 'C02003_018E', 'C02003_019E'],
      dtype='object')

In [20]:
race_tracts.reset_index()

,GEOID,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B02001_009E,...,C02003_010E,C02003_011E,C02003_012E,C02003_013E,C02003_014E,C02003_015E,C02003_016E,C02003_017E,C02003_018E,C02003_019E
0,15000US021980001003,506.0,170.0,4.0,247.0,4.0,29.0,0.0,52.0,0.0,...,0.0,52.0,52.0,0.0,52.0,0.0,0.0,0.0,0.0,0.0
1,15000US021980002001,927.0,446.0,3.0,366.0,0.0,7.0,0.0,105.0,0.0,...,0.0,105.0,97.0,0.0,91.0,0.0,0.0,6.0,8.0,0.0
2,15000US021980002002,1178.0,731.0,11.0,235.0,26.0,0.0,7.0,168.0,10.0,...,10.0,158.0,152.0,6.0,121.0,10.0,1.0,14.0,16.0,0.0
3,15000US021980002003,435.0,321.0,0.0,55.0,9.0,0.0,0.0,50.0,2.0,...,2.0,48.0,46.0,0.0,42.0,0.0,1.0,3.0,4.0,0.0
4,15000US021980003001,15.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,15000US560419752002,1792.0,1692.0,0.0,0.0,4.0,0.0,6.0,90.0,0.0,...,0.0,90.0,90.0,0.0,90.0,0.0,0.0,0.0,0.0,0.0
220329,15000US560419752003,1229.0,1229.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220330,15000US560419752004,2354.0,2239.0,5.0,0.0,0.0,0.0,0.0,110.0,0.0,...,0.0,110.0,110.0,14.0,96.0,0.0,0.0,0.0,0.0,0.0
220331,15000US560419753001,2088.0,1788.0,3.0,59.0,0.0,0.0,202.0,36.0,0.0,...,0.0,36.0,36.0,0.0,36.0,0.0,0.0,0.0,0.0,0.0
220332,15000US560419753002,1368.0,1160.0,0.0,25.0,8.0,0.0,13.0,162.0,0.0,...,0.0,162.0,162.0,0.0,162.0,0.0,0.0,0.0,0.0,0.0

In [21]:
race_tracts = race_tracts[['B02001_002E','B02001_003E','B02001_004E','B02001_005E','B02001_006E','B02001_008E']]

In [22]:
race_tracts.head()

,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_008E
GEOID,,,,,,
15000US021980001003,170.0,4.0,247.0,4.0,29.0,52.0
15000US021980002001,446.0,3.0,366.0,0.0,7.0,105.0
15000US021980002002,731.0,11.0,235.0,26.0,0.0,168.0
15000US021980002003,321.0,0.0,55.0,9.0,0.0,50.0
15000US021980003001,15.0,0.0,0.0,0.0,0.0,0.0

In [23]:
race_tracts = race_tracts.rename(columns={'B02001_002E':'white','B02001_003E':'black','B02001_004E':'amind','B02001_005E':'asian','B02001_006E':'nh_pi','B02001_008E':'two_or_more'})

In [24]:
race_tracts.head()

                     white  black  amind  asian  nh_pi  two_or_more
GEOID
15000US021980001003  170.0    4.0  247.0    4.0   29.0         52.0
15000US021980002001  446.0    3.0  366.0    0.0    7.0        105.0
15000US021980002002  731.0   11.0  235.0   26.0    0.0        168.0
15000US021980002003  321.0    0.0   55.0    9.0    0.0         50.0
15000US021980003001   15.0    0.0    0.0    0.0    0.0          0.0

In [25]:
race_tracts.reset_index()

                      GEOID   white  black  amind  asian  nh_pi  two_or_more
0       15000US021980001003   170.0    4.0  247.0    4.0   29.0         52.0
1       15000US021980002001   446.0    3.0  366.0    0.0    7.0        105.0
2       15000US021980002002   731.0   11.0  235.0   26.0    0.0        168.0
3       15000US021980002003   321.0    0.0   55.0    9.0    0.0         50.0
4       15000US021980003001    15.0    0.0    0.0    0.0    0.0          0.0
...                     ...     ...    ...    ...    ...    ...          ...
220328  15000US560419752002  1692.0    0.0    0.0    4.0    0.0         90.0
220329  15000US560419752003  1229.0    0.0    0.0    0.0    0.0          0.0
220330  15000US560419752004  2239.0    5.0    0.0    0.0    0.0        110.0
220331  15000US560419753001  1788.0    3.0   59.0    0.0    0.0         36.0
220332  15000US560419753002  1160.0    0.0   25.0    8.0    0.0        162.0

[220333 rows x 7 columns]

In [48]:
race_tracts.columns

AttributeError: 'Index' object has no attribute 'columns'

In [44]:
race_tracts["GEOID"]=race_tracts["GEOID"].astype(float)

KeyError: 'GEOID'

In [43]:
raceca_tracts = race_tracts[race_tracts.GEOID.str.startswith('15000US06')]

AttributeError: 'DataFrame' object has no attribute 'GEOID'

In [26]:
race_tracts.columns

Index(['white', 'black', 'amind', 'asian', 'nh_pi', 'two_or_more'], dtype='object')

In [27]:
dem_tracts = gpd.read_parquet('demographics_tracts.parquet')

In [28]:
dem_tracts.head()

,GEOID1,total_mf_10_19,geometry
0,06037137504,229.0,"POLYGON ((-118.58119 34.14318, -118.58099 34.1..."
1,06037138000,404.0,"POLYGON ((-118.60573 34.14585, -118.60561 34.1..."
2,06037139200,625.0,"POLYGON ((-118.53082 34.18024, -118.52952 34.1..."
3,06067002300,259.0,"POLYGON ((-121.50218 38.55643, -121.50184 38.5..."
4,06067002400,452.0,"POLYGON ((-121.50970 38.54070, -121.50960 38.5..."

In [29]:
import quilt3
b = quilt3.Bucket("s3://spatial-ucr")
b.fetch("census/demographic_profile/2018/acs_2018_X03_HISPANIC_OR_LATINO_ORIGIN_tract.parquet", "./acs_2018_X03_HISPANIC_OR_LATINO_ORIGIN_tract.parquet")

100%|██████████| 4.56M/4.56M [00:03<00:00, 1.44MB/s]

In [30]:
latino = pandas.read_parquet('./acs_2018_X03_HISPANIC_OR_LATINO_ORIGIN_tract.parquet')

In [31]:
latino.head()

,B03001_001E,B03001_002E,B03001_003E,B03001_004E,B03001_005E,B03001_006E,B03001_007E,B03001_008E,B03001_009E,B03001_010E,...,B03002_015E,B03002_016E,B03002_017E,B03002_018E,B03002_019E,B03002_020E,B03002_021E,B03003_001E,B03003_002E,B03003_003E
GEOID,,,,,,,,,,,,,,,,,,,,,
14000US02020001300,3127.0,2903.0,224.0,83.0,0.0,9.0,0.0,0.0,0.0,0.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,3127.0,2903.0,224.0
14000US02020001400,5047.0,4679.0,368.0,182.0,123.0,0.0,0.0,37.0,0.0,0.0,...,16.0,0.0,0.0,2.0,74.0,48.0,26.0,5047.0,4679.0,368.0
14000US02020001500,5388.0,5063.0,325.0,206.0,0.0,0.0,0.0,44.0,0.0,44.0,...,62.0,0.0,0.0,171.0,0.0,0.0,0.0,5388.0,5063.0,325.0
14000US02020001601,4058.0,3582.0,476.0,254.0,22.0,0.0,166.0,0.0,0.0,0.0,...,0.0,25.0,0.0,317.0,9.0,9.0,0.0,4058.0,3582.0,476.0
14000US02020001602,4450.0,4250.0,200.0,173.0,2.0,0.0,0.0,7.0,0.0,7.0,...,6.0,0.0,0.0,24.0,47.0,19.0,28.0,4450.0,4250.0,200.0

In [32]:
latino = latino[['B03003_003E']]

In [33]:
latino.head()

                    B03003_003E
GEOID
14000US02020001300        224.0
14000US02020001400        368.0
14000US02020001500        325.0
14000US02020001601        476.0
14000US02020001602        200.0

In [34]:
latino = latino.rename(columns={'B03003_003E':"Latino"})

In [35]:
latino.head()

                    Latino
GEOID
14000US02020001300   224.0
14000US02020001400   368.0
14000US02020001500   325.0
14000US02020001601   476.0
14000US02020001602   200.0

In [38]:
latino.reset_index()

                    GEOID  Latino
0      14000US02020001300   224.0
1      14000US02020001400   368.0
2      14000US02020001500   325.0
3      14000US02020001601   476.0
4      14000US02020001602   200.0
...                   ...     ...
73996  14000US56043000200   278.0
73997  14000US56043000301   508.0
73998  14000US56043000302   367.0
73999  14000US56045951100    92.0
74000  14000US56045951300    15.0

[74001 rows x 2 columns]

In [39]:
racetracts=latino.merge(race_tracts,left_on="GEOID",right_on="GEOID")

In [40]:
racetracts.head()

Empty DataFrame
Columns: [Latino, white, black, amind, asian, nh_pi, two_or_more]
Index: []

In [41]:
latino.dtypes

Latino    float64
dtype: object

In [42]:
race_tracts.dtypes

white          float64
black          float64
amind          float64
asian          float64
nh_pi          float64
two_or_more    float64
dtype: object